<launch>

  <arg name="robot_name"                        default="locobot"/>
  <arg name="use_lidar"                         default="false"/>
  <arg name="rtabmapviz_args"                   default=""/>

  <node
    pkg="rtabmap_ros"
    type="rtabmapviz"
    name="rtabmapviz"
    args="$(arg rtabmapviz_args)"
    output="screen"
    ns="$(arg robot_name)/rtabmap">
    <param name="subscribe_rgbd"     value="true"/>
    <param name="subscribe_scan"     value="$(arg use_lidar)"/>
    <param name="queue_size"         value="50"/>
    <param name="frame_id"           value="$(arg robot_name)/base_footprint"/>
    <param name="odom_frame_id"      value="$(arg robot_name)/odom"/>
    <param name="wait_for_transform" value="true"/>
    <remap from="scan"               to="/$(arg robot_name)/scan"/>
  </node>

</launch>
